/* 
  Respoonsive Typography

  @media screen and (min-width: 1024px){
   root{
     -biggest-font-size:4.5rem;
     -big-font-size:3rem;
     -h1-font-size:2.25rem;
     -h2-font-size:1.5rem;
     -h3-font-size:1.25rem;
     -normal-font-size:1rem;
     -small-font-size:.875rem;
     -smaller-font-size:.813rem;

*/
@media screen and (max-width: 370px) {
  /* .grid{
    flex-direction: column;
    align-items: center;
  } */
   .nav{
      justify-content: center;
   }
   
   .nav__logo {
    justify-content: center;
    align-items: center;
    gap: 2px;
    font-size: 15px;
}
   .nav__item{
    padding-left: 0;
   }
   .nav__list{
    
    padding: 0;
    gap: 0;
   }
   .nav__link{

    padding: 6px;
    font-size: 7px;
   }

}
@media screen and (max-width: 435px) {
  .grid{
    flex-direction: column;
    align-items: center;
  }
  
}
@media screen and (max-width: 748px) {
  .grid{
    flex-direction: column;
    align-items: center;
  }
  .about-info{
    
  }
 
 
}

@media screen and (max-width: 1023px) {
  .nav{
    gap: 10px;
    align-items: center;
  }
  .nav__list{
    row-gap:20px ;
  }
  .nav__item{
    padding-left: 20px;

  }
  .about-info{
    flex-wrap: wrap;
    
  }
  /* .nav__menu {
    position: fixed;
    top: 8.6%;
    background: linear-gradient(180deg,hsl(12,32%,22%) 20%,hsl(12,42%,12%) 100%);
    border-radius: 0 0 50px 50px;
    width: 100%;
    box-shadow: 0 -2px 12px hsla(12,32%,22%,.3) ;
    padding: 12px 5rem;
    display: none;
  } */
  .nav__list{
    gap: 0;
  }
}