/* Google Fonts */
/* Poppins font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/* font face */

@font-face {
    font-family: matter-light;
    src: url(/fonts/matter-light.ttf);
    font-family: Nb;
    src: url(/fonts/NBInternationalProBoo.ttf);
    font-family: Rejoice;
    src: url(/fonts/Rejouice-Headline.ttf);
    font-family: ecoplan;
    src: url(/fonts/ecoplan-pkbab.ttf);
    font-family: crown;
    src: url(/fonts/crowned-rgj38.ttf);
    font-family: black-sterd;
    src: url(/fonts/Blackasteroids-BF66abb087747ad.ttf);
}

/* Pacifico Font */

/* header-height: 3.5rem 
 border-section: 56px 56px 0 0;
           Colors
first-color: hsl(12,32%,22%);
first-color-alt: hsl(12,42%,12%);
first-color-light: hsl(12,24%,32%);
second-color: hsl(39,62%,65%);
title-color: hsl(12,12%,16%);
text-color: hsl(12,12%,32%);
text-color-light: hsl(12,8%,48%);
white-color:#fff;

*/
/* Color
 -first-color: #4A2D26;
 first-color-alt:#2B1712;
first-color-light: #65463E;
second-color: #DDB66E;
title-color:#2E2624;
text-color: #5B4C48;
text-color-light:#847571;
white-color:#fff;



*/
/* 
    Font and Typography 

   body-fontfamily: "Poppins";

    z-index: 10;  (--z-tooltip)
    z-index: 100;  (--z-fixed)

    
*/

/* Base */

*{
    margin: 0;padding: 0;box-sizing: border-box;
}
html{
    scroll-behavior: smooth;

}
body{
    font-family: "Poppins";
    font-size:.938rem ;
    background-color:#fff ;
    color: hsl(12,12%,32%);
}
ul{
   list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}

/* Reusable Css Classes */
.container{
    /* max-width: 1120px; */
    margin-inline: 1rem;

}

.section{
    padding-block:4.5rem 3.5rem;
    /* border: 3px solid #eee; */
}
.section__title{
    color: hsl(12,12%,16%);
    font-size:2.75rem;
    font-family: "Poppins";
    line-height: 120%;
    text-align: center;
    margin-bottom: 1.5rem;
}
.main{
    overflow: hidden;
}

/* Header & Nav */

.header {
    
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;
    background-color:hsl(12,32%,22%); 
    z-index: 100;
    transition: background .4s, box-shadow .4s;
}
 .header__border{
    /* border: 1px solid  white; */
     width: 100%;
     height: 2.5px;
     background-image:linear-gradient(90deg,hsl(12,8%,48%) 50%,transparent 50% ) ;
     background-size: 24px;
     position: absolute;
     bottom: 0;
     left: 0%;
     transition: opacity 0.3s; 

} 
.nav{
    height:3.5rem ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav__logo{
    color: #fff;
    display: flex;
    align-items: center;
    column-gap: .5rem;
    /* border: 1px solid red; */
    font-size: 1.25rem;
    font-family: "Titillium Web";
    font-weight: bold;
}
.nav__logo img{
    /* width: 15%; */
    width: 28px;
}
.nav__list{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.nav__link{
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 10px;
    row-gap: .256rem;
    transition: color .3s;
}
.nav__link i{
    background: linear-gradient(180deg,hsl(39,62%,75%) 0%,hsl(39,62%,45%) 100%);
    /* border-radius: 10px; */
    color: transparent;
    -webkit-background-clip: text;
    font-size: 1.45rem;
}
.nav__link:hover{
    color:hsl(39,62%,65%) ;
}

/*  HOME STYLE */
.home{
    margin-top: 30px;
    background: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.grid{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* gap: 1rem; */

}

.home__container {
    
    backdrop-filter: blur(4px);
    z-index: -1;
}
.home__data{
    /* border: 1px solid  skyblue; */

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home__title
{
    width: 65%;
    color: #f9f1ef;
    /* border: 1px solid blue; */
    z-index: 88;
    font-weight: 800;
    font-size: 3.2rem;
    margin-top: 16px;
    font-family: Rejoice;
}
.home__title .coffee-text{
    color: white;
    font-family: ecoplan;
}
#shah{
    background-color: blueviolet;
}


.home__description{
    color: #fff;
    font-size: 1rem;
}
.btn{
    color: wheat;
    background: hsl(12,32%,22%);
    padding: .5rem .8rem;
    border: 1px solid hsl(39, 46%, 23%);
    border-radius: 20px;
    margin-top:15px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all .3s ease-in;
}
.btn:hover{
    color: hsl(12,32%,22%);
    background-color: hsl(39,62%,65%);
}
.home__image img{
    margin-bottom: 2rem;
}
/* Get Start btn */
/* 
.btn {

/* Navigation for mobile devices */


/* change background header */

/* Active Link */